/* 全局样式的清除 */
*{padding: 0px; margin: 0px;}
li{ list-style: none;}
a{text-decoration: none;color: #999}
h1,h2,h3,h4,h5,h5{font-style: normal;}
/* 首部样式 */
body{
    min-width: 1230px;
}
.nav{
    width: 100%;
    height: 32px;
    background-color: #f2f2f2;
    border-bottom:1px solid #e5e5e5 ;
}
.navWrap{
    width: 1230px;
    height: 32px;
    /* background-color: brown; */
    margin: auto;
   
}
.nav_left{
    float: left;
    height: 32px;
    color: #999
}
.nav_left em{
    float: left;
    line-height: 32px;
    font-size: 12px;
    font-style: normal;

}
.nav_left a{
    float: left;
    line-height: 32px;
    font-size: 12px;
    padding: 0 10px 0 20px;
}
.nav_left a:hover{
    color:#FF0036 ;
}

/* 导航右边 */
.nav_right{
    float:right;
    height: 32px;
    background-color: #f2f2f2;
    
}
.nav_right li{
    float: left;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    z-index: 20;

}
.nav_right li:hover{
    background-color: #fff;
    /* border: 1px solid #e5e5e5 ; */
}
.nav1{
    position: relative;
}
.nav1 .nav_list1:hover{
    /* border: 1px solid #e5e5e5; */
}
/* 图标 */
.phone .icon-shouji{
    color: #FF0036;
    font-size: 12px;
}
.nav_shop .icon-gouwuche1{
    color: #FF0036;
    font-size: 12px;
}
.nav3 .icon-jiegouwuxiangqingliebiao-liebiao{
    color: #FF0036;
    font-size: 12px;
}

.nav1 .icon-sanjiaojiantou{
    color:  #999;
    font-size: 6px ;
    position: absolute;
    top: 14px;
    left: 60px;
   
}
.navSan .icon-sanjiaojiantou{
    position: absolute;
    left: 48px;
    top: 14px;
}




.nav_right li a{
    font-size: 12px;
    line-height: 32px;
    cursor: pointer;
}
.nav_right li a:hover{
    color: #FF0036;
    
}
.nav_right li .nav_list1 {
    display: none;
    position: absolute;
    left: -1px;
    top: 32px;
    width: 100px;
    background-color: #fff;
    /* line-height: 20px; */
    /* display: block;   */

}
.nav_right li .nav_list1 a{
    line-height: 25px;
    width: 100px;
    font-size: 12px;
}
.nav_right li .imgs {
    position: absolute;
    left: -50px;
    top: 32px;
    display: none;
    width: 172px;
    background-color: #fff;
}
.nav_right li .imgs  .imgs1{
    margin-left: 16px;
}
.nav_lists1{
    width: 120px;
    position: absolute;
    left: -53px;
    top: 32px;
    display: none;
    background-color: #fff;

}
/* .nav_lists1  .navlist1 div{
    line-height: 2px;
    border-bottom: 2px dotted #ccc;
    margin:5px 0;
} */
.nav_lists1 .navlist1 h4{
    font-size: 14px;
    line-height: 24px;
    width: 100px;
    color: #666;
    font-weight: 700;
    /* float: left; */
}
.nav_lists1 .navlist1 li{
    width: 50px;
    /* float: left; */
    font-size: 12px;
    color: #333;
    line-height: 24px;
    padding: 0;
    margin-right: 10px;
}
.nav3 .nav_list2{
    position: absolute;
    left: -1144px;
    top: 32px;
    width: 1228px;
    display: none;
    /* height: 200px; */
    background-color: #fff;
    min-height: 166px;
    
    
}
.nav3 .navlistc1{
    float: left;
    margin-left: 20px;
    width: 450px;
   
}
.nav3 .navlistc1 h3{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: orange;
}
.nav3 .navlistc1 .hot li a{
    float: left;
    width: 50px;
    font-size: 12px;
    line-height: 30px;
    margin-right: 40px;
    color: #333;
    display: block;
   

}
.nav3 .navlistc1 .hot li{
    padding: 0;
}
.nav3 .navlistc1{
    float: left;
    margin-left: 20px;
    width: 450px;
}
.nav3 .navlistc1 h3{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: orange;
}
.nav3 .navlistc1 .hot li a{
    float: left;
    width: 50px;
    font-size: 12px;
    line-height: 30px;
    margin-right: 40px;
    color: #333;
    display: block;

}
.nav3 .navlistc1 .hot li a:hover{
    color: orange;
    text-decoration: underline;
}
.nav3 .navlistc2{
    float: left;
    margin-left: 40px;
    width: 450px;
   
}
.nav3 .navlistc2 h3{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #1149F0;
}
.nav3 .navlistc2 .market li{
    padding: 0;
}
.nav3 .navlistc2 .market li a{
    float: left;
    width: 50px;
    font-size: 12px;
    line-height: 30px;
    margin-right: 40px;
    color: #333;
    display: block;

}
.nav3 .navlistc2 .market li a:hover{
    color: #1149F0;
    text-decoration: underline;
}
.nav3 .navlistc3{
    float: left;
    margin-left: 20px;
    width: 180px;
}
.nav3 .navlistc3 h3{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #666;
}
.nav3 .navlistc3 .help li{
    padding: 0;
}
.nav3 .navlistc3 .help li a{
    float: left;
    width: 60px;
    font-size: 12px;
    line-height: 30px;
    margin-right: 10px;
    color: #333;
    display: block;

}
.nav3 .navlistc3 .help li a:hover{
    color: #333;
    text-decoration: underline;
}


/* part1 */
.part1{
    width: 100%;
    height: 130px;
  
}
.part1Wrap{
    width: 1230px;
    /* background-color: burlywood; */
    margin: auto;
    height: 130px;
}
.part1Wrap .logo{
    width: 290px;
    height: 130px;
    float: left;
}
.part1_right{
    float: left;
    margin-left: 100px;
    height: 78px;
    width: 623px;
}
.part1_right form{
    width: 623px;
    padding-top: 38px;
    height: 40px;
    /* overflow: hidden; */
    
}
.part1_txt{
    float: left;
    width: 475px;
    height: 25.1px;
    padding: 5px 3px 5px 5px;
    border-width: 3px 0px 3px 3px ;
    border: solid #FF0036;
    font-size: 14px;
    color: #999;
}
.part1_btn{
    float: left;
    width: 132px;
    height: 40px;
    /* box-sizing: content-box; */
    background-color:#FF0036;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    /* border-width: 2px 0px; */
    /* border: solid #FF0036; */
}


/* part2 */
.part2{
    height: 35px;
    width: 100%;
    
}
.part2Wrap{
    height: 35px;
    width: 1230px;
    /* background-color: chartreuse; */
    margin: auto;
    border-bottom: 1.5px solid #ff0036;

}
.part2_left{
    float: left;
    width: 200px;
    height: 35px;

}
.part2_text{
    font-size: 16px;
    color: #fff;
    line-height: 35px;
    background-color: #ff0036;

}
.part2_text .icon-jiegouwuxiangqingliebiao-liebiao{
   
    margin-left: 14px;
}
.part2_text span{
    padding-left: 8px;
    font-weight: 700;
   
}


.part2_right{
    float: left;
    width: 1030px;
    height: 35px;
}
.part2_list{
    height: 35px;

}
.part2_list li{
    float: left;
}
.part2_list li a{
    height: 35px;
    line-height: 35px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 8px;
    cursor: pointer;
    display: block;
}
.part2_list li img{
    height: 30px;
    margin-top:3px ;
    width: 100px;
}
.part2_list li a:hover{
    color:#ff0036 ;
}

/* part3 */
.part3{
    height: 521px;
    width: 100%;
    

}
.part3Wrap{
    width: 1230px;
    position: relative;
    height: 521px;
    margin: auto;
    
    
}
.part3_left {
    position: absolute;
    left: 0px; 
    top: 0px;
    width: 1230px;
    height: 521px;
    // z-index: 99;
    // background-color: chartreuse;
    // opacity: 0.5;
}

.part3_list{
    width: 200px;
    height: 521px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 11;
    // opacity: 0.5;
}
.part3_list .part3_lis{
    width: 200px;
    // height: 32px;
    // position: relative;
    line-height: 32px;
    
}
.part3_list .part3_lis i{
    font-size: 12px;
    color: #999;
    margin-left: 14px;

}
.part3_list .part3_lis a{
    font-size: 12px;
    color: #fff;
    padding-left:8px ;
}
.part3_list .part3_listwrap {
    position: absolute;
    left: 200px;
    top: 0px;
    background-color: #fff;
    display: none;
    width: 852px;
    height: 521px;
    // margin: 19px 30px 0 30px;
    // opacity: none;
  
}
.part3_list .part3_listwrap .part3_liuxing{
    width: 586px;
    height: 462px;
    margin: 19px 30px 0 30px;
    float: left;
}
.part3_listwrap .part3_liuxing p{
    // padding:  10px 12px 20px 18px;
    font-size: 14px;
    font-weight: 700;
    float: left;
    // width: 46px;
    // height: 40px;
    line-height:22px ;
    margin-right: 15px;

}
.part3_listwrap .part3_liuxing  ul{
    float: left;
    // overflow: hidden;
    // height: 28px;
    width: 493px;
    padding: 0 5px 8px 0px;
    border-bottom: 2px dotted #999;

}
.part3_listwrap .part3_liuxing  ul li{
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin-left: 13px;
    padding-bottom:3px ;
    padding-top: 3px;
}
.part3_list .part3_listwrap .part3_imgs{
    float: left;
    width: 186px;
    height: 480px;
    padding: 20px 10px 21px 10px;
    background-color: lawngreen;
}

// 轮播图的样式
.part3Wrap .swiper-container{
    width: 1230px;
    height: 521px;
   
}
.part3Wrap .swiper-container .part3_img{
    width: 100%;
    height: 521px;
}

// /*自定义分页器的样式，这个你自己想要什么样子自己写*/
.part3 .swiper-pagination-bullet{
    width: 25px;
    height: 5px;
    background: #000;
    opacity: .3;
    margin-left: 5px;
    cursor: pointer;
    // display: inline-block;
    border-radius: 1px;
}
/*自定义分页器激活时的样式表现*/
.part3 .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #F78E00;
}

// part4
.part4{
    background-color: red;
    width: 100%;
    height: 400px;
}