/* 全局样式的清除 */
*{padding: 0px; margin: 0px;}
li{ list-style: none;}
a{text-decoration: none;color: #999}
h1,h2,h3,h4,h5,h5{font-style: normal;}
body{background-color: #F5F5F5;}
/* 首部样式 */
body{
    min-width: 1230px;
}
.nav{
    width: 100%;
    height: 32px;
    background-color: #f2f2f2;
    border-bottom:1px solid #e5e5e5 ;
}
.navWrap{
    width: 1230px;
    height: 32px;
    /* background-color: brown; */
    margin: auto;
   
}
.nav_left{
    float: left;
    height: 32px;
    color: #999
}
.nav_left em{
    float: left;
    line-height: 32px;
    font-size: 12px;
    font-style: normal;

}
.nav_left a{
    float: left;
    line-height: 32px;
    font-size: 12px;
    padding: 0 10px 0 20px;
}
.nav_left a:hover{
    color:#FF0036 ;
}

/* 导航右边 */
.nav_right{
    float:right;
    height: 32px;
    background-color: #f2f2f2;
    
}
.nav_right li{
    float: left;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    z-index: 20;

}
.nav_right li:hover{
    background-color: #fff;
    /* border: 1px solid #e5e5e5 ; */
}
.nav1{
    position: relative;
}
.nav1 .nav_list1:hover{
    /* border: 1px solid #e5e5e5; */
}
/* 图标 */
.phone .icon-shouji{
    color: #FF0036;
    font-size: 12px;
}
.nav_shop .icon-gouwuche1{
    color: #FF0036;
    font-size: 12px;
}
.nav3 .icon-jiegouwuxiangqingliebiao-liebiao{
    color: #FF0036;
    font-size: 12px;
}

.nav1 .icon-sanjiaojiantou{
    color:  #999;
    font-size: 6px ;
    position: absolute;
    top: 14px;
    left: 60px;
   
}
.navSan .icon-sanjiaojiantou{
    position: absolute;
    left: 48px;
    top: 14px;
}




.nav_right li a{
    font-size: 12px;
    line-height: 32px;
    cursor: pointer;
}
.nav_right li a:hover{
    color: #FF0036;
    
}
.nav_right li .nav_list1 {
    display: none;
    position: absolute;
    left: -1px;
    top: 32px;
    width: 100px;
    background-color: #fff;
    /* line-height: 20px; */
    /* display: block;   */

}
.nav_right li .nav_list1 a{
    line-height: 25px;
    width: 100px;
    font-size: 12px;
}
.nav_right li .imgs {
    position: absolute;
    left: -50px;
    top: 32px;
    display: none;
    width: 172px;
    background-color: #fff;
}
.nav_right li .imgs  .imgs1{
    margin-left: 16px;
}
.nav_lists1{
    width: 120px;
    position: absolute;
    left: -53px;
    top: 32px;
    display: none;
    background-color: #fff;

}
/* .nav_lists1  .navlist1 div{
    line-height: 2px;
    border-bottom: 2px dotted #ccc;
    margin:5px 0;
} */
.nav_lists1 .navlist1 h4{
    font-size: 14px;
    line-height: 24px;
    width: 100px;
    color: #666;
    font-weight: 700;
    /* float: left; */
}
.nav_lists1 .navlist1 li{
    width: 50px;
    /* float: left; */
    font-size: 12px;
    color: #333;
    line-height: 24px;
    padding: 0;
    margin-right: 10px;
}
.nav3 .nav_list2{
    position: absolute;
    left: -1144px;
    top: 32px;
    width: 1228px;
    display: none;
    /* height: 200px; */
    background-color: #fff;
    min-height: 166px;
    
    
}
.nav3 .navlistc1{
    float: left;
    margin-left: 20px;
    width: 450px;
   
}
.nav3 .navlistc1 h3{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: orange;
}
.nav3 .navlistc1 .hot li a{
    float: left;
    width: 50px;
    font-size: 12px;
    line-height: 30px;
    margin-right: 40px;
    color: #333;
    display: block;
   

}
.nav3 .navlistc1 .hot li{
    padding: 0;
}
.nav3 .navlistc1{
    float: left;
    margin-left: 20px;
    width: 450px;
}
.nav3 .navlistc1 h3{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: orange;
}
.nav3 .navlistc1 .hot li a{
    float: left;
    width: 50px;
    font-size: 12px;
    line-height: 30px;
    margin-right: 40px;
    color: #333;
    display: block;

}
.nav3 .navlistc1 .hot li a:hover{
    color: orange;
    text-decoration: underline;
}
.nav3 .navlistc2{
    float: left;
    margin-left: 40px;
    width: 450px;
   
}
.nav3 .navlistc2 h3{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #1149F0;
}
.nav3 .navlistc2 .market li{
    padding: 0;
}
.nav3 .navlistc2 .market li a{
    float: left;
    width: 50px;
    font-size: 12px;
    line-height: 30px;
    margin-right: 40px;
    color: #333;
    display: block;

}
.nav3 .navlistc2 .market li a:hover{
    color: #1149F0;
    text-decoration: underline;
}
.nav3 .navlistc3{
    float: left;
    margin-left: 20px;
    width: 180px;
}
.nav3 .navlistc3 h3{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #666;
}
.nav3 .navlistc3 .help li{
    padding: 0;
}
.nav3 .navlistc3 .help li a{
    float: left;
    width: 60px;
    font-size: 12px;
    line-height: 30px;
    margin-right: 10px;
    color: #333;
    display: block;

}
.nav3 .navlistc3 .help li a:hover{
    color: #333;
    text-decoration: underline;
}


/* part1 */
.part1{
    width: 100%;
    height: 130px;
  
}
.part1Wrap{
    width: 1230px;
    /* background-color: burlywood; */
    margin: auto;
    height: 130px;
}
.part1Wrap .logo{
    width: 290px;
    height: 130px;
    float: left;
}
.part1_right{
    float: left;
    margin-left: 100px;
    height: 78px;
    width: 623px;
}
.part1_right form{
    width: 623px;
    padding-top: 38px;
    height: 40px;
    /* overflow: hidden; */
    
}
.part1_txt{
    float: left;
    width: 475px;
    height: 25.1px;
    padding: 5px 3px 5px 5px;
    border-width: 3px 0px 3px 3px ;
    border: solid #FF0036;
    font-size: 14px;
    color: #999;
}
.part1_btn{
    float: left;
    width: 132px;
    height: 40px;
    /* box-sizing: content-box; */
    background-color:#FF0036;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    /* border-width: 2px 0px; */
    /* border: solid #FF0036; */
}


/* part2 */
.part2{
    height: 35px;
    width: 100%;
    
}
.part2Wrap{
    height: 35px;
    width: 1230px;
    /* background-color: chartreuse; */
    margin: auto;
    border-bottom: 1.5px solid #ff0036;

}
.part2_left{
    float: left;
    width: 200px;
    height: 35px;

}
.part2_text{
    font-size: 16px;
    color: #fff;
    line-height: 35px;
    background-color: #ff0036;

}
.part2_text .icon-jiegouwuxiangqingliebiao-liebiao{
   
    margin-left: 14px;
}
.part2_text span{
    padding-left: 8px;
    font-weight: 700;
   
}


.part2_right{
    float: left;
    width: 1030px;
    height: 35px;
}
.part2_list{
    height: 35px;

}
.part2_list li{
    float: left;
}
.part2_list li a{
    height: 35px;
    line-height: 35px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 8px;
    cursor: pointer;
    display: block;
}
.part2_list li img{
    height: 30px;
    margin-top:3px ;
    width: 100px;
}
.part2_list li a:hover{
    color:#ff0036 ;
}

/* part3 */
.part3{
    height: 521px;
    width: 100%;
    

}
.part3Wrap{
    width: 1230px;
    position: relative;
    height: 521px;
    margin: auto;
    
    
}
.part3_left {
    position: absolute;
    left: 0px; 
    top: 0px;
    width: 1230px;
    height: 521px;
    // z-index: 99;
    // background-color: chartreuse;
    // opacity: 0.5;
}

.part3_list{
    width: 200px;
    height: 521px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 11;
    // opacity: 0.5;
}
.part3_list .part3_lis{
    width: 200px;
    // height: 32px;
    // position: relative;
    line-height: 32px;
    
}
.part3_list .part3_lis i{
    font-size: 12px;
    color: #999;
    margin-left: 14px;

}
.part3_list .part3_lis a{
    font-size: 12px;
    color: #fff;
    padding-left:8px ;
}
.part3_list .part3_listwrap {
    position: absolute;
    left: 200px;
    top: 0px;
    background-color: #fff;
    display: none;
    width: 852px;
    height: 521px;
    // margin: 19px 30px 0 30px;
    // opacity: none;
  
}
.part3_list .part3_listwrap .part3_liuxing{
    width: 586px;
    height: 462px;
    margin: 19px 30px 0 30px;
    float: left;
}
.part3_listwrap .part3_liuxing p{
    // padding:  10px 12px 20px 18px;
    font-size: 14px;
    font-weight: 700;
    float: left;
    // width: 46px;
    // height: 40px;
    line-height:22px ;
    margin-right: 15px;

}
.part3_listwrap .part3_liuxing  ul{
    float: left;
    // overflow: hidden;
    // height: 28px;
    width: 493px;
    padding: 0 5px 8px 0px;
    border-bottom: 2px dotted #999;

}
.part3_listwrap .part3_liuxing  ul li{
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin-left: 13px;
    padding-bottom:3px ;
    padding-top: 3px;
}
.part3_list .part3_listwrap .part3_imgs{
    float: left;
    width: 186px;
    height: 480px;
    padding: 20px 10px 21px 10px;
    background-color: lawngreen;
}

// 轮播图的样式
.part3Wrap .swiper-container{
    width: 1230px;
    height: 521px;
   
}
.part3Wrap .swiper-container .part3_img{
    width: 100%;
    height: 521px;
}

// /*自定义分页器的样式，这个你自己想要什么样子自己写*/
.part3 .swiper-pagination-bullet{
    width: 25px;
    height: 5px;
    background: #000;
    opacity: .3;
    margin-left: 5px;
    cursor: pointer;
    // display: inline-block;
    border-radius: 1px;
}
/*自定义分页器激活时的样式表现*/
.part3 .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #F78E00;
}

// part4
.part4{
    // background-color: red;
    width: 100%;
    height: 359px;
}
.part4Wrap{
    width: 1230px;
    height: 359px;
    // background-color: lightblue;
    margin: auto;
}
.part4Wrap h1 img{
    margin: 30px 315px 20px 315px;
}
.part4list li{
    float: left;
    height: 269px;
    position: relative;
}
.part4_imgs{
    width: 238px;
    display: block;
    margin-right: 10px;
    
}
.part4_mask{
    background: rgba($color: #fff, $alpha: 0.25);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 238px;
    height: 269px;
    display: none;
    // transition: all .3s ease-out;

}
.part4list li:hover .part4_mask{
    display: block;
    transition: all .3s ease-out;
}
.part4_none{
    margin-right: 0px;
}

// part5
.part5{
    width: 100%;
    height: 324px;
    margin-top:40px ;
    
}
.part5_Wrap{
    width: 1228px;
    height: 324px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #eee;
    // background-color: lightgreen;
}
.part5_lis{
    float: left;
    width: 112px;
    height: 108px;
    padding: 0 5px;
    // background-color: lightpink;
    position: relative;
}
.part5_img img{
    display: block;
    position: absolute;
    top: 0;
    right:0 ;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 50px;
}
.part5_mask{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba($color: #333, $alpha: .8);
    width: 100%;
    height: 100%;
    display: none;
   
}
.part5_mask span{
    height: 60px;
    display: block;
    line-height: 90px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.part5_mask em{
    font-style: normal;
    display: block;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    width: 63px;
    height: 18px;
    background-color: #FF0036;
    color: #fff;
    border-radius: 9px;
    margin-left: 28px;
    
   
}
.part5_lis:hover .part5_mask{
    transition: all .3s ease-out ;
    display: block;
}

// part6
.part6{
    width: 100%;
    margin-top: 20px;
    height: 656px;

}
.part6Wrap{
    width: 1230px;
    height: 656px;
    // background-color: limegreen;
    margin: auto;
}
.part6_img {
    height: 28px;
    line-height: 28px;
}
.part6_img img{
    display: block;
    width: 214px;
    height: 25px;
    
}
.part6_cons{
    height: 618px;
    margin-top: 10px;
    width: 1230px;
}
// part6左边
.part6_left{
    float: left;
    width: 235px;
    height: 618px;
    background-color: lightcoral;
    position: relative;
}
.part6_left img{
    width:235px ;
    height: 618px;
    z-index: 22;
}
.part6_lmask{
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba($color: #fff, $alpha: .3);
    height: 618px;
    width: 235px;
    display: none;

}
.part6_left:hover .part6_lmask{
    display: block;
    transition: all .3s ease-out;
}

.part6_l1{
    position: absolute;
    width: 218px;
    height: 64px;
    bottom: 20%;
    // background-color: lightsalmon;
}

.part6_tit1{
    background: rgba($color: #000000, $alpha: .9);
    width: 70px;
    height: 64px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}
.part6_tit1 span{
    width: 36px;
    line-height: 24px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
.part6_tit2{
    position: absolute;
    left: 70px;
    top: 0;
    background: rgba($color: #000000, $alpha: .6);
    width: 128px;
    height: 64px;
    color: #fff;
    vertical-align: middle;

}
.part6_tit2 span{
    margin: 8px 0px 0px 14px;
    display: block;
    line-height: 24px;
    font-size: 18px;
    
}
.part6_tit2  .part6_maotai{
    margin: 0px 0px 0px 14px;
}
.part6_l2{
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0px;
    // background-color: lightseagreen;
}
.part6_l2 img{
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
// part6右边
.part6_right{
    float: left;
    width: 995px;
    height: 618px;
    // background-color: lightpink;
}
.part6_r1{
    width: 484px;
    height: 301px;
    // background-color: lightseagreen;
    margin-left: 13px;
    padding-bottom: 15px;
    float: left;

}
// tab切换的实现
.part6_tabs{
    width: 462px;
    height: 282px;
    margin: 10px;
    // background-color: lightsalmon;
    position: relative;
    background-color: #fff;

}
.part6_tab1{
    width: 462px;
    height: 57px;
}
.part6_tab1 li{
    width: 191px;
    height: 57px;
    padding: 0 20px;
    float: left;
    cursor: pointer;
    text-align: center;
    color: #333;
    line-height: 57px;
    font-size: 20px;
}
.part6_tab1 .part6_active{
    background-color: #00B262 ;
    color: #fff;
}

.part6_content{
    width: 462px;
    height: 225px;
    overflow: hidden;
}
.part6_tabs2{
    width: 462px;
    height: 225px;
    display: none;
}
.part6_content .part6_shows1{
    display: block;
}
// .part6_content .part6_shows1{
//    display: block;
// }
.part6_tb1{
    position: absolute;
    top: 153px;
    left: 0px;
    height: 87px;
    width: 291px;
    z-index: 20;
    background: url(../image/part6_4.png) 0 center no-repeat;
    
}
.part6_tbcon1{
    margin: 8px 0px 0px 26px;
    height: 32px;
    width: 200px;
}
.part6_tbcon1 img{
    display: block;
    width: 23px;
    height: 23px;
    float: left;
    // line-height: 32px;
    margin-top: 6px;
}
.part6_tbcon1  span{
    margin-left: 8px;
    font-size: 24px;
    font-weight: 700;
    float: left;
    line-height: 32px;
    color: #00B262 ;
}
.part6_tbtwo span{
    display: block;
    margin-left: 26px;
    font-size: 20px;
}
.part6_tbcon2{
    position: relative;
    width: 230px;
    float: right;
    height: 210px;
}
.part6_tbcon2 img{
    
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px 30px 0px 0px;
    float: right;
    
}
.part6_tbmask{
    position: absolute;
    background: rgba($color: #fff, $alpha: .4);
    height: 200px;
    width: 200px;
    top: 10px;
    right: 30px;
    display: none;
}
.part6_tbcon2:hover .part6_tbmask{
    display: block;
}
.part6_r2{
    float: left;
    // background-color: lightskyblue;
    width: 235px;
    height: 301px;
    margin-left: 13px;
    padding-bottom: 15px;
}
.part6_r2s{
    margin-left: 14px;
    padding-bottom: 0px;
}
.part6_w1{
    height: 299px;
    width: 233px;
    border: 1px solid #eee;
    position: relative;
}
.part6_w1:hover{
    border: 1px solid #FF0036;
}
.part6_w1 img{
    width: 185px;
    height: 185px;
    display: block;
    margin-left: 24px;
    margin-top: 20px;
    
}
.part6_w11{
    width: 135px;
    margin: 8px auto;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    height: 40px;

}
.part6_price{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: #FF0036;
    line-height: 18px;

}
.part6_mask{
    height:299px ;
    width: 233px;
    position: absolute;
    background-color: rgba($color: #fff, $alpha: .3);
    left: 0px;
    top: 0px;
    display: none;
}
.part6_w1:hover .part6_mask{
    display: block;
    transition: all .3s ease-out;
}

// part7Pre
.part7Pre{
    width: 100%;
    height: 90px;
    margin-top: 20px;
    // background-color: limegreen;
}
.part7PreWrap{
    width: 1230px;
    height: 90px;
    margin: auto;
}
.part7PreWrap img{
    width: 1620px;
    height: 90px;
    display: block;
    margin-left: -165px;
}
// part7
.part7_top{
    height: 28px;

}
.part7_top i{
    width: 5px;
    height: 18px;
    display: inline-block;
    float: left;
    background-color: #333;
    margin-top: 5px;
}
.part7_topcon{
    // width: 219px;
    height: 28px;
    padding: 0 10px;
    float: left;
    line-height: 28px;
}
.part7_meili{
    float: left;
    // width: 81px;
    // height: 26px;
    font-size: 16px;
}
.part7_fashion{
    float: left;
    font-size: 14px;
    margin-left: 10px;
    line-height: 28px;
    color: #000;
}
// footer
.footer{
    width: 100%;
    height: 600px;
    // background-color: lightslategrey;
}
// footer_c1
.footer_c1{
    width: 1190px;
    height: 100px;
  
    margin: auto;
    padding: 25px 0;
}
.footerc1_list{
    height: 100px;
    
    overflow: hidden;
}
.footerc1_list li{
    float: left;
    width: 297px;
    height: 100px;
    background-color: linen;

}
.footerc1_list  .iconfont{
    font-size: 50px;
    line-height: 100px;
    margin-left: 50px;
    margin-right: 12px;
    float: left;
    color:#F4153B ;
    // font-weight: 500;
}
.footc1_right{
    // margin-left:100px ;
    
    width: 150px;
    height: 100px;
    float: left;

}
.footc1_right span{
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    // width: 150px;
    height: 20px;
    margin-top: 28px;
}
.footc1_right em{
    display: block;
    font-style: normal;
    font-size: 14px;
    margin-top: 4px;
}

// footer_c2
.footer_c2{
    width: 1190px;
    padding-top: 22px;
    height: 190px;
    border-top: 1px solid #D1D7DC;
    margin: auto;
    background: url(../image/footer_c2.png)45px bottom no-repeat ;
    background-size: 68px 25px;
}
.footer_c2 dl{
    width: 186px;
    // height: 90px;
    padding-left: 52px;
    // background-color: mediumaquamarine;
    float: left;
}
.footer_c2 dl dt{
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    float: left;
    width: 100px;
    color: #646464;
    text-align: left;
}
.footer_c2 dl dd{
    float: left;
    width: 100px;
    color: #8b8b8b;
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    height: 20px;
}
.footer_c2 dl img{
    width: 105px;
    height: 105px;
    margin: 10px 0px 0px 6px;
}

.footer_c3{
    width: 100%;
    height: 218px;
    border-top: 2px solid #FF0036;
    min-height: 177px;
    background: #000;
}
.footer_c31{
    width: 1190px;
    height: 25px;
    padding: 5px 0;
    margin: 0 auto;
    
    // background-color: mediumaquamarine;

}
.footer_c31 a{
    font-size: 12px;
    text-align: left;
    color: #fff;
    margin-right: 3px;
    float: left;
    // line-height: 25px;
}
.footer_c31 span{
    display: block;
    width: 1px;
    float: left;
    height: 12px;
    text-align: left;
    background-color: #fff;
    margin-right: 6px;
    margin-top: 3px;
}
.footer_c33{
    width: 1190px;
    height: 148px;
    // background-color: lawngreen;
    margin: 0 auto;
}
.footer_c33 a{
    font-size: 12px;
    line-height: 20px;
    margin-right: 65px;
    color: #a4a4a4;
    float: left;
}
.footer_c33 b{
    color: #686868;
    // font-size: 400;
    line-height: 20px;
    font-weight: 400;
    font-size: 12px;
    float: left;
    font-style: normal;
    width: 100%;
}
.footer_c33 img{
    height: 30px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}


.search{
    width: 100%;
    height: 50px;
    background-color: #FE0C3F;
    z-index: 10000;
    position: fixed;
    top: 0;
    display: none;
}
.search_Wrap {
    width: 1230px;
    margin: auto;
    height: 50px;
 

}
.serach_left{
    float: left;
}
.serach_left img{
    margin-top:8px ;
    z-index: 20;
    
    display: block;
    width: 125px;
    height: 35px;
}
.search_right{
    margin-left: 245px;
    padding-top: 12px;
    height: 30px;
    float: left;
    
}
.search_text1{
    float: left;
    width: 640px;
    height: 20px;
    padding: 5px 3px 5px 5px;
    background-color: #fff;
    border: none;
    color: #ccc;
}
.search_text2{
    float: left;
    width:90px ;
    height: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: none;
    background-color: #FF0036;
    text-align: center;
}

// 右边的轮滑
.roller{
    width: 35px;
    height: 369px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    // left: 182px;
    z-index: 100;
    margin-left: -664px;
    display: none;
}
.roller div{
    border-top: 1px solid #fff;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background-color: rgba($color: #000000, $alpha: 0.6);

}
.roller div a{
    display: block;
    width: 24px;
    height: 28px;
    margin: 4px 4px 6px 6px ;
}
.roller div a span{
    display: block;
    float: left;
    font-size: 12px;
    width: 24px;
    height: 24px;
    color: #fff;
    // line-height: 24px;
    text-align: center;
    
    

}
.roller .daohang a{
    line-height: 24px;
}
.roller .dingbu img{
    float: left;
    display: block;
    margin-left: 5px;
}
// .roller ul {
//     width: 36px;
//     height: 36px;
    
// }
// .roller ul div{
//     width: 36px;
//     height: 36px;
//     background-color: rgba($color: #000000, $alpha: 0.6);
// }
// .roller ul  li{
//     width: 24px;
//     height: 28px;
//     margin: 1px 6px 0 6px;
//     position: relative;
//     text-align: center;
    
    
// }
// .roller ul  li a{
//     // line-height: 12px;
//     font-size: 12px;
//     color: #fff;
//     width:24px;
//     height: 28px;
//     display: block;
//     margin-top: 3px;
//     // line-height: 36px;
// }


